body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E8F4F5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 600px;
    width: 90%;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid #7BAEB7;
}

h2 {
    color: #599AA6;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #7BAEB7;
    border-radius: 4px;
    resize: none;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #EAF6F7;
    color: #333;
}

textarea:focus {
    border-color: #599AA6;
    outline: none;
    background-color: #ffffff;
}

#wordcount, #sentenceCount {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    background-color: #EAF6F7;
    border: 2px solid #7BAEB7;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    textarea {
        font-size: 14px;
    }

    #wordcount, #sentenceCount {
        font-size: 16px;
    }
}
